/* style de toute la page */
body {
	background-image: url("./recueil_des_traditions_de_jadis_et_de_naguere_kokon_chomon_ju_epoque_edo_1603-1868_c_paris_musees-musee_cernuschi_fond_1.png");
	background-size: 100%;
	background-position: top;
}

nav.navbar {
	width: 100%;
	position: fixed;
	top:0;
}

h1 {
	text-align: center;
}

div#loader{
	display:none;
}


footer {
	background-color:white;
	position: fixed;
	bottom: 0;
	width: 100%;
}


