h1{
  text-align: center;
}

.menu{
  width:100%;
}

.menu ul{
  list-style: none;
}

.menu li {
  float: left;
}

.menu a {
  display: block;
  padding: 16px;
  text-decoration: none;
}

.div-search{
  width:70%;
  margin:auto;
  background-color:DarkCyan;
  padding:20px;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}

form.searchbox{
  text-align:center;
}

/* Search field */
form.searchbox input[type=text] {
  padding: 12px;
  font-size: 18px;
  border:1px solid green;
  border-radius:50px;
  outline: none;
  display:inline-block;
  width: 50%;
  background: #fff;
}

/* Submit button */
form.searchbox button {
  display:inline-block;
  width: 85px;
  padding: 12px;
  background: DarkSlateGrey;
  color: white;
  font-size: 18px;
  border: none; /* Prevent double borders */
  border-radius:50px;
  cursor: pointer;
  margin-left:3px;
}

form.searchbox button:hover {
  background: Aquamarine;
}