/* style du background */
body {
	background-image: url("recueil_des_traditions_de_jadis_et_de_naguere_kokon_chomon_ju_epoque_edo_1603-1868_c_paris_musees-musee_cernuschi_fond_1.png");
	background-position: top;
	background-size: cover;
	position: relative;
}

/* style du boutton qui permet de revenir en haut de la page */
#btn-back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	z-index: 1000;
}


footer {
	z-index: 900;
}

/* Center the loader */
#loader {
	display: none;
}

img.rounded-img {
	width: 350px;
	border-radius: 50%;
}

.vertical {
	padding: 5% 1%;
}

#no-space {
	padding:2% 1%;
}

#vertical-img {
	padding: 30% 0;
}

  /* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#loader-flo {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #ff7cf4;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

#image-container-flo {
	position: relative;
  }
  
#image-container-flo img {
	width: 100%;
	height: auto;
}
  
#loader-flo {
	position: absolute;
	top: 30%;
	left: 30%;
	transform: translate(-50%, -50%);
	opacity: 0.7;
}