<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
		<script src="{{ url_for('static', path='/requests.js') }}"></script>
		<title>About - Chinese French English Dictionary</title>
		<link href="{{ url_for('static', path='/translate.svg') }}" rel="shortcut icon" type="image/vnd.microsoft.icon">
	</head>
	<body>
		<!-- barre de navigation -->
		<nav class="navbar navbar-expand-lg bg-body-tertiary bg-light py-3">
			<div class="container-fluid"> <!-- la barre prend toute la place -->
				<a class="navbar-brand" href="{{ url_for('root')}}">DWJ Dictionary</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ url_for('root')}}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('about') }}">About</a>
					</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- partie principale de la page -->
		<div class="container-fluid">
			<h1 class="text-center m-4">About</h1>
            <div class="container bg-light rounded p-3">
                <p class="text-center m-4">
                    Ce site a été créé pour la réalisation d'un projet d'application web pour le cours de Technique web (TALB520B).
                </p>
                <p class="text-center m-4">
                    Nous sommes trois étudiants en deuxième année de Master TAL parcours Ingénierie Multilingue à l'Inalco et nous avons 
                    travailler sur un dictionnaire multilingue du chinois (traditionnel et simplifié) vers le coréen, le japonais, 
                    avec des définitions en anglais et en français.
                </p>
                <!-- Nos présentations -->
                <div class="row border rounded p-3 m-4">
                    <div class="col-lg-4 col-sm-12 align-items-center">
                        <img src = "../static/Laura.jpg" alt="Emoji Laura" class="rounded-img" />
                    </div>
                    <div class="col-lg-8 col-sm-12 align-items-center vertical">
                        <p class="fs-5 fw-bold text-center mb-2">Laura Darenne</p>
                        <p>
                            Bonjour ! Je suis une ancienne élève de la licence LLCER chinois de l'Inalco. 
                            J'ai adoré travailler sur ce projet, autant sur la partie html/bootstrap que sur la partie "TAL"
                            avec la création d'un unique dictionnaire chinois à partir de dictionnaires déjà présents sur internet.
                            J'espère que vous apprécierez notre application .
                        </p>
                    </div>
                </div>
                <div class="row border rounded p-3 m-4">
                    <div class="col-lg-4 col-sm-12 align-items-center">
                        <img src = "../static/Agathe.jpg" alt="Emoji Agathe" class="rounded-img" />
                    </div>
                    <div class="col-lg-8 col-sm-12 align-items-center vertical">
                        <p class="fs-5 fw-bold text-center mb-2">Agathe Wallet</p>
                        <p>
                            Blah.
                        </p>
                    </div>
                </div>
                <div class="row border rounded p-3 m-4">
                    <div class="col-lg-4 col-sm-12 align-items-center" id="image-container-flo">
						<img src = "../static/Florian.jpeg" alt="Emoji Flo" class="rounded-img" />
						<div  class="container-lg p-3 my-4 bg-light rounded" id="loader-flo">
							<div class="d-flex justify-content-center">
								<div class="spinner-border" role="status">
									<!-- <span class="visually-hidden">Loading...</span> -->
								<span >Loading...</span>
							  </div>
							</div>
						</div>
                    </div>
                    <div class="col-lg-8 col-sm-12 align-items-center vertical">
                        <p class="fs-5 fw-bold text-center mb-2">Florian Jacquot</p>
                        <p>
                            Je crois que j'ai une haine viscérale pour le travail sur le web. Je n'y comprends pas grand chose, et travailler sur le visuel est au-delà de mes capacités (cf. mon sublime loader que j'ai remis ici pour qu'il ne soit pas perdu à tout jamais...). Heureusement, j'ai deux ingénieures web dans mon groupe qui ont permis la naissance de cette oeuvre.
                        </p>
						<p>
							I think I have a visceral hatred for working on the web. I don't understand much about it, and working on visuals is beyond my capabilities (cf. my extraordinary loader, which I've put back here so it won't be lost forever...). Fortunately, I have two web engineers in my group who have made this work possible. 
						</p>
                    </div>
                </div>
            </div>
        </div>
		<!-- pied de page -->
        <br />
		<br />
		<br />
		<br />
		<footer class="d-flex flex-wrap justify-content-between py-4 bottom-0 border-top bg-light">
			<div class="col-md-1 d-flex align-items-center"></div>
			<div class="col-md-4 d-flex align-items-center">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-incognito me-1" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="m4.736 1.968-.892 3.269-.014.058C2.113 5.568 1 6.006 1 6.5 1 7.328 4.134 8 8 8s7-.672 7-1.5c0-.494-1.113-.932-2.83-1.205l-.014-.058-.892-3.27c-.146-.533-.698-.849-1.239-.734C9.411 1.363 8.62 1.5 8 1.5s-1.411-.136-2.025-.267c-.541-.115-1.093.2-1.239.735m.015 3.867a.25.25 0 0 1 .274-.224c.9.092 1.91.143 2.975.143a30 30 0 0 0 2.975-.143.25.25 0 0 1 .05.498c-.918.093-1.944.145-3.025.145s-2.107-.052-3.025-.145a.25.25 0 0 1-.224-.274M3.5 10h2a.5.5 0 0 1 .5.5v1a1.5 1.5 0 0 1-3 0v-1a.5.5 0 0 1 .5-.5m-1.5.5q.001-.264.085-.5H2a.5.5 0 0 1 0-1h3.5a1.5 1.5 0 0 1 1.488 1.312 3.5 3.5 0 0 1 2.024 0A1.5 1.5 0 0 1 10.5 9H14a.5.5 0 0 1 0 1h-.085q.084.236.085.5v1a2.5 2.5 0 0 1-5 0v-.14l-.21-.07a2.5 2.5 0 0 0-1.58 0l-.21.07v.14a2.5 2.5 0 0 1-5 0zm8.5-.5h2a.5.5 0 0 1 .5.5v1a1.5 1.5 0 0 1-3 0v-1a.5.5 0 0 1 .5-.5"/>
				</svg>
				<span class="mb-3 mb-md-0 text-body-secondary">Darenne, Wallet &amp; Jacquot</span>
			</div>
		
			<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
				<li class="nav-item"><a href="{{ url_for('root')}}" class="nav-link px-2 text-body-secondary">Home</a></li>
				<li class="nav-item"><a href="{{ url_for('about') }}" class="nav-link px-2 text-body-secondary">About</a></li>
			</ul>
			<div class="col-md-1 d-flex align-items-center"></div>
		</footer>
	</body>
</html> 
