<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
		<script src="{{ url_for('static', path='/requests.js') }}"></script>
		<title>DWJ - Dictionnaire chinois français anglais</title>
		<link href="{{ url_for('static', path='/translate.svg') }}" rel="shortcut icon" type="image/vnd.microsoft.icon">
	</head>
	<body>
		<!-- barre de navigation -->
		<nav class="navbar navbar-expand-lg bg-body-tertiary bg-light py-3">
			<div class="container-fluid"> <!-- la barre prend toute la place -->
				<a class="navbar-brand" href="{{ url_for('root')}}">Dictionnaire DWJ</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ url_for('root')}}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('about') }}">About</a>
					</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- boutton pour revenir en haut de la page -->
		<button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
			</svg>
		</button>
		<!-- partie principale de la page -->
		{% block content %}
		<div class="container-fluid">
			<h1 class="text-center m-4">Research</h1>
			<!-- barre de recherche -->
			<div class="container-lg my-4">
				<form class="d-flex justify-content-between align-items-center" method="POST" action="/" onsubmit="showloader('loader')">
					<input class="form-control me-2" type="text" placeholder="Votre mot ou votre phrase" name="tokens" id="tokens">
					<button type="submit" class="btn btn-success">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
						</svg>
					</button>
				</form>
			</div>
			<!-- tuto qui va laisser place à loader ou results -->
			<div class="container-lg p-3 my-4 bg-light rounded" id="tuto">
				Tuto à faire disparaître sur page de résultats
			</div>
			<!-- loader qui apparait le temps que la page charge les résultats -->
			<div class="container-lg p-3 my-4 bg-light rounded" id="loader">
				Chargement...
			</div>
			<!-- les résultats -->
			<div class="container-lg justify-content-center p-3 my-4 bg-light rounded" id="results">
				{% if results %}
					{% for result in results %}
						<div id="{{ loop.index0 }}">
							<!-- dico chinois -->
							{% if 'chi' in result %}
							<div class="container-fluid p-3 my-2">
								<h3 class="text-center m-2">Chinois</h3>
								{% for key in result['chi'].keys() %}
									<div class="row border py-2 rounded mb-2">
										<div class="col-lg col-sm-12 align-items-center">
											<p class="fs-1 text-center"><b>{{ result['chi'][key]['trad'] }}</b>   {{ result['chi'][key]['simp'] }}</p>
											<p class="fs-4 text-center">{{ result['chi'][key]['py'] }}</p>
										</div>
										{% if result['chi'][key]['eng'] != 'nan' %}
										<div class="col-lg col-sm-12 align-items-center">
											<p class="fs-5 text-center">Anglais</p>
											<ol class="list-group list-group-numbered">
												{% for def in result['chi'][key]['eng'][1:-1].split('/') %}
													<li class="list-group-item">{{ def }}</li>
												{% endfor %}
											</ol>
										</div>
										{% endif %}
										{% if result['chi'][key]['fra'] != 'nan' %}
										<div class="col-lg col-sm-12 align-items-center ">
											<p class="fs-5 text-center">Français</p>
											<ol class="list-group list-group-numbered">
												{% for def in result['chi'][key]['fra'][1:-1].split('/') %}
													<li class="list-group-item">{{ def }}</li>
												{% endfor %}
											</ol>
										</div>
										{% endif %}
									</div>
								{% endfor %}
							</div>
							{% endif %}
							<!-- caractère par caractère -->
							{% if 'characters' in result %}
							<div class="container-fluid p-3 my-2">
								<h3 class="text-center m-2">Caractère par Caractère</h3>
								{% for char in result['characters'] %}
								{% for key in char.keys() %}
									<div class="row border py-2 rounded mb-2">
										<div class="col-lg col-sm-12 align-items-center ">
											<p class="fs-1 text-center"><b>{{ char[key]['trad'] }}</b>   {{ char[key]['simp'] }}</p>
											<p class="fs-4 text-center">{{ char[key]['py'] }}</p>
										</div>
										{% if char[key]['eng'] != 'nan' %}
										<div class="col-lg col-sm-12 align-items-center ">
											<p class="fs-5 text-center">Anglais</p>
											<ol class="list-group list-group-numbered">
												{% for def in char[key]['eng'][1:-1].split('/') %}
													<li class="list-group-item">{{ def }}</li>
												{% endfor %}
											</ol>
										</div>
										{% endif %}
										{% if char[key]['fra'] != 'nan' %}
										<div class="col-lg col-sm-12 align-items-center ">
											<p class="fs-5 text-center">Français</p>
											<ol class="list-group list-group-numbered">
												{% for def in char[key]['fra'][1:-1].split('/') %}
													<li class="list-group-item">{{ def }}</li>
												{% endfor %}
											</ol>
										</div>
										{% endif %}
									</div>
								{% endfor %}
								{% endfor %}
							</div>
							{% endif %}
							<!-- dico japonais -->
							{% if 'jap' in result %}
							<div class="container-fluid p-3 my-2">
								<h3 class="text-center m-2">Japonais</h3>
								{% for res in result['jap'] %}
								{% for key in res.keys() %}
									<div class="row border py-2 rounded mb-2">
										<div class="col-lg col-sm-12 align-items-center ">
											<p class="fs-1 text-center">{{ res[key]['tokens'] }}</p>
											<p class="fs-4 text-center">{{ ", ".join(res[key]['readings'].split('/')) }}</p>
										</div>
										{% if res[key]['eng'] != 'nan' %}
										<div class="col-lg col-sm-12 align-items-center ">
											<p class="fs-5 text-center">Anglais</p>
											<ol class="list-group list-group-numbered">
												{% for def in res[key]['eng'].split('/') %}
													<li class="list-group-item">{{ def }}</li>
												{% endfor %}
											</ol>
										</div>
										{% endif %}
										{% if res[key]['fra'] != 'nan' %}
										<div class="col-lg col-sm-12 align-items-center ">
											<p class="fs-5 text-center">Français</p>
											<ol class="list-group list-group-numbered">
												{% for def in res[key]['fra'].split('/') %}
													<li class="list-group-item">{{ def }}</li>
												{% endfor %}
											</ol>
										</div>
										{% endif %}
									</div>
								{% endfor %}
								{% endfor %}
							</div>
							{% endif %}
							<!-- dico coréen -->
							{% if 'kor' in result %}
							<div class="container-fluid p-3 my-2">
								<h3 class="text-center m-2">Coréen</h3>
								{% for res, dico in result['kor'].items() %}
								{% if res == "main" %}
								{% for hanja, dico_ko_en in dico.items() %}
								{% for ko, en in dico_ko_en.items() %}
								<div class="row border py-2 rounded mb-2">
									<div class="col-lg col-sm-12 align-items-center ">
										<p class="fs-1 text-center">{{ hanja }}</p>
										<p class="fs-4 text-center">{{ ko }}</p>
									</div>
									{% if en != '' %}
									<div class="col-lg col-sm-12 align-items-center ">
										<p class="fs-5 text-center">Anglais</p>
										<ol class="list-group list-group-numbered">
											{% for def in en.split(';') %}
												<li class="list-group-item">{{ def }}</li>
											{% endfor %}
										</ol>
									</div>
									{% endif %}
								</div>
								{% endfor %}
								{% endfor %}
								{% elif res == "xcomponent" %}
								{% for hanja, dico_ko_en in dico.items() %}
								{% for ko, en in dico_ko_en.items() %}
								<div class="row border py-2 rounded mb-2">
									<div class="col-lg col-sm-12 align-items-center ">
										<p class="fs-1 text-center">{{ hanja }}</p>
										<p class="fs-4 text-center">{{ ko }}</p>
									</div>
									{% if en != '' %}
									<div class="col-lg col-sm-12 align-items-center ">
										<p class="fs-5 text-center">Anglais</p>
										<ol class="list-group list-group-numbered">
											{% for def in en.split(';') %}
												<li class="list-group-item">{{ def }}</li>
											{% endfor %}
										</ol>
									</div>
									{% endif %}
								</div>
								{% endfor %}
								{% endfor %}
								{% elif res == "others" %}
								<div class="accordion" id="wordsAccordion">
									<div class="accordion-item">
										<h2 class="accordion-header" id="wordsHeading">
											<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#wordsCollapse" aria-expanded="false" aria-controls="wordsCollapse">
												Korean words containing
											</button>
										</h2>
										{% for hanja, dico_ko_en in dico.items() %}
										{% for ko, en in dico_ko_en.items() %}
										<div id="wordsCollapse" class="accordion-collapse collapse" aria-labelledby="wordsHeading" data-bs-parent="#wordsAccordion">
											<div class="accordion-body">
												<div class="row border py-2 rounded mb-2">
													<div class="col-lg col-sm-12 align-items-center ">
														<p class="fs-1 text-center">{{ hanja }}</p>
														<p class="fs-4 text-center">{{ ko }}</p>
													</div>
													{% if en != '' %}
														<div class="col-lg col-sm-12 align-items-center ">
															<p class="fs-5 text-center">Anglais</p>
															<ol class="list-group list-group-numbered">
																{% for def in en.split(';') %}
																	<li class="list-group-item">{{ def }}</li>
																{% endfor %}
															</ol>
														</div>
													{% endif %}
												</div>
											</div>
										</div>
										{% endfor %}
										{% endfor %}
									</div>
								</div>
								{% endif %}
								{% endfor %}
							</div>
							{% endif %}
							<!-- mots -->
							{% if 'words' in result %}
							<div class="container-fluid p-3 my-2">
								<h3 class="text-center my-2">Words Containing</h3>
								<div class="accordion" id="words">
								{% for key, value in result['words'].items()|sort(attribute=0) %}
									<div class="accordion-item">
										<h5 class="accordion-header" id="heading{{key}}">
											<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{key}}" aria-expanded="false" aria-controls="collapse{{key}}">mots de {{ key }} caractères</button>
										</h5>
										<div id="collapse{{key}}" class="accordion-collapse collapse" aria-labelledby="heading{{key}}" data-bs-parent="#words">
											<div class="accordion-body">
												{{ ', '.join(value) }}
											</div>
										</div>
									</div>
								{% endfor %}
								</div>
							</div>
							{% endif %}
							<!-- petite ligne pour démarquer les différents résultats -->
							{% if result != results[-1] %}
							<div class="container-fluid p-3 my-2 border-bottom"></div>
							{% endif %}
						</div>
					{% endfor %}
				{% endif %}
			</div>			  
		</div>
		{% endblock %}
		<br />
		<br />
		<br />
		<br />
		<!-- pied de page -->
		<footer class="d-flex flex-wrap justify-content-between py-4 bottom-0 border-top bg-light">
			<div class="col-md-1 d-flex align-items-center"></div>
			<div class="col-md-4 d-flex align-items-center">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-incognito me-1" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="m4.736 1.968-.892 3.269-.014.058C2.113 5.568 1 6.006 1 6.5 1 7.328 4.134 8 8 8s7-.672 7-1.5c0-.494-1.113-.932-2.83-1.205l-.014-.058-.892-3.27c-.146-.533-.698-.849-1.239-.734C9.411 1.363 8.62 1.5 8 1.5s-1.411-.136-2.025-.267c-.541-.115-1.093.2-1.239.735m.015 3.867a.25.25 0 0 1 .274-.224c.9.092 1.91.143 2.975.143a30 30 0 0 0 2.975-.143.25.25 0 0 1 .05.498c-.918.093-1.944.145-3.025.145s-2.107-.052-3.025-.145a.25.25 0 0 1-.224-.274M3.5 10h2a.5.5 0 0 1 .5.5v1a1.5 1.5 0 0 1-3 0v-1a.5.5 0 0 1 .5-.5m-1.5.5q.001-.264.085-.5H2a.5.5 0 0 1 0-1h3.5a1.5 1.5 0 0 1 1.488 1.312 3.5 3.5 0 0 1 2.024 0A1.5 1.5 0 0 1 10.5 9H14a.5.5 0 0 1 0 1h-.085q.084.236.085.5v1a2.5 2.5 0 0 1-5 0v-.14l-.21-.07a2.5 2.5 0 0 0-1.58 0l-.21.07v.14a2.5 2.5 0 0 1-5 0zm8.5-.5h2a.5.5 0 0 1 .5.5v1a1.5 1.5 0 0 1-3 0v-1a.5.5 0 0 1 .5-.5"/>
				</svg>
				<span class="mb-3 mb-md-0 text-body-secondary">Darenne, Wallet &amp; Jacquot</span>
			</div>
		
			<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
				<li class="nav-item"><a href="{{ url_for('root')}}" class="nav-link px-2 text-body-secondary">Home</a></li>
				<li class="nav-item"><a href="{{ url_for('about') }}" class="nav-link px-2 text-body-secondary">About</a></li>
			</ul>
			<div class="col-md-1 d-flex align-items-center"></div>
		</footer>
	</body>
</html>